/* ===================================== Import Variables ================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:300,400,400italic,700,700italic);
/* ===================================== Basic CSS ==================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none; 
}

body{
  font-family: "Open Sans";
}

img {
  max-width: 100%; 
}

a {
  text-decoration: none;
  outline: none;
  color: #444; 
}

a:hover {
  color: #444; 
}

ul {
  margin-bottom: 0;
  padding-left: 0; 
}

ol,ul{
  margin:0px;
  padding:0px;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; 
}

.picture-add {
  background:url(../images/bg-05.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}

._form_05{
  background:url(../images/bg-05.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  padding:20px 20px;
  position:relative;
  display:flex;
  align-items:center;
  height:100vh;
  z-index:2;
  overflow:hidden;

}

._form_05::before {
    position: absolute;
    content: "";
    background:rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
    left: 0;
    z-index:1;
    top: 0px;
}

._form-05-box{
  width:790px;
  max-width:100%;
  position:relative;
  display:block;
  margin:20px auto;
  background:rgba(255,255,255,1);
  border-radius:6px;
  z-index:3;
}

.form-05-box-a{
  padding:250px 15px;
  background-color:rgba(38, 43, 72, 1);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

._mn_df{
  padding: 20px 00px;
  background:#fff;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
  padding-right: 45px;
  justify-content: center;
  align-items: center;
}

._mn_df_2{
  padding:150px 20px;
  background:#fff;
  border-top-right-radius:6px;
  border-bottom-right-radius:6px;
  padding-right: 45px;
  justify-content: center;
  align-items: center;
}

._form_05_logo,._form_05_socialmedia,.main-head{
  margin:20px 0px;
  display:flex;
  width:100%;
  text-align:center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

._form_05_logo h2{
  font-size:20px;
  font-weight:400;
  letter-spacing:0.5px;
  color:#fff;
  text-transform:uppercase;
}


._lk_nb{
  display:flex;
}




.main-head h2{
  font-size:18px;
  color:#000;

}

.form-group{
  padding:20px 0px;
  display:inline-block;
  width:100%;
  position:relative;
}

.form-check-label,.form-group a{
  font-size:15px;
}

.form-group p{
  margin:0px;
  font-size: .9rem;
}

.form-control{
  min-height:45px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 10px 15px;
}

.checkbox{
  display:flex;
  justify-content:space-around;
}

._btn_04 {
    display: inline-block;
    width: 100%;
    padding: 12px 0px;
    background: #01cc66;
    border-radius:5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

._btn_04 a{
  font-size:15px;
  color:#fff;
}

._btn_04_job {
  display: inline-block;
  width: 70%;
  padding: 12px 0px;
  background: #01cc66;
  border-radius:5px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.result{
  color: white;
  position:relative;
  display:flex;
  z-index: 3;
  flex-direction: row;
}

.header_title, .result_text{
  display: flex;
  color: white;
  background-color: #3b5998;
  height: 500px;
  width: 350px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.result_text{
  background-color: white;
  color: black;
  width: 750px;
  padding: 10px;
}

textarea{
  margin: 15px;
  width: 300px;
}

.homeButton{
  margin: 15px 25px;
  padding: 25px;
  height: 50px;
  width: 350px;
  color: white;
  background-color: #01cc66;
  position:relative;
  display:flex;
  z-index: 3;
  font-size: 26px;
  justify-content:center;
  align-items: center;
}

.resultBox{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.job_outer_box{
  position:relative;
  z-index: 3;
  color: white;
}

#jobTitle{
  font-size: 26px;
  color: #01cc66;
  text-align: center;
  padding: 25px;
  font-weight: bold;
}

table{
  overflow-y:scroll;
  height: 650px;
  display:block;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: inset 8px 8px 16px #cccccc, 
              inset -8px -8px 16px #ffffff;
}


table::-webkit-scrollbar {
    display: none;
}

th{
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  padding: 15px;
  color: black;
  background: #F05E23;
  text-align: center;
  vertical-align: middle;
}

/* table thead .thead-dark{
  background-color: black;
  color: green;
} */

td{
  padding:20px;
  color: black;
}

tr:hover{
  background: rgba(0,0,0,.1);
}

td ._btn_04_job{
  background-color: #01cc66;
  color: white;
}

.w-30 {
  width: 30%;
}

 @media screen and (max-width: 767px){
    ._form_05{
      height: auto;
    }
    ._mn_df{
      padding-right: 20px;
    }
 }